{% extends 'base.html' %}
{% load static %}

{% block title %} Каталог {% endblock %}

{% block content %}
    <h2>Каталог</h2>
    <nav class="toleft">
        <label>Упорядочить по</label>
    <a href="{% url 'catalog' order='country' filter=filter %}">стране производителя</a>
    <a href="{% url 'catalog' order='name' filter=filter %}">имени</a>
    <a href="{% url 'catalog' order='price' filter=filter %}">цене</a>
    </nav>
    <nav class="toleft" style="margin-top:5px">
        <label>Фильтровать по</label>
        <a href="{% url 'catalog' order=order filter=0 %}">показать все</a>
        {% for c in categories %}
        <a href="{% url 'catalog' order=order filter=c.id %}" {% if c.id == filtr %}class="disabled"{% endif %}>{{ c.name }}</a>
        {% endfor %}
    </nav>

    <div class="outProducts">
        {% for p in products %}
        <a href="{% url 'product_detail' p.id %}">
            <div class="product">
                <div class="image"><img src="{{ p.image.url }}" alt="img"></div>
                <h3><label>Название:</label>{{ p.name }}</h3>
                <h3><label>Цена:</label>{{ p.price }}</h3>
                <h3><label>В наличии:</label>{{ p.amount }}</h3>
                {% if user.is_authenticated %}
                <button class="add_to_cart" data-id="{{ p.id }}">
                    {% if p.cart %}
                    в корзине {{ p.cart }} шт
                    {% else %}
                    В корзину
                    {% endif %}
                </button>
                {% endif %}
            </div>
        </a>
       
    {% endfor %}
    </div>
<script>
    $(document).on('click', '.add_to_cart', e => { $obj = $(e.target);
        $.get('/cart_add/' + $obj.data('id'), {}, res => { $obj.html(res)});
        e.preventDefault();
        return false;
    });
</script>
    </div>
{% endblock %}